.app-footer {
    background-color: #282c34;
    color: white;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: calc(100%); /* Adjust according to the menu width */
    // left: 250px; /* Align with the left menu */
  }
  